::-webkit-scrollbar {
   width: 15px;
   height: 15px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgb(255 255 255 / 58%);
}
 

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(45deg, #00aeff, #a68eff);
  border-radius: 10px;
	-webkit-box-shadow: rgba(0,0,0,.12) 0 3px 13px 1px;
  border-radius: 50px;
}

/* Manejador hover */
::-webkit-scrollbar-thumb:hover {
background-image: linear-gradient(45deg, #00aeff, #00fff3);
  border-radius: 10px;
	-webkit-box-shadow: rgb(0 0 0 / 55%) 0 3px 13px 1px;
}


/* Header */

header{
  width: 100%;
  height:600px;
  background: url(img/R.Port.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  margin-top: 5%;
}

.cards{
  width: 100%;
  height: 100%;
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color:#fff;
  overflow: hidden;
  text-align: center;
}

.cards .card{
  width: ;
  height: 45%;
   padding: 10px 10px 15px 15px;
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color:#fff;
  overflow: hidden;
  text-align: center;
     background: rgb(0 0 0 / 73%);
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}

.cards .card > .contenido-texto-card{
  width: 100%;
  height: 100%;
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color:#fff;
  overflow: hidden;
  text-align: center;
font-family: 'Acme', sans-serif;
}

.cards .card > .contenido-texto-card p{
font-size: 30px; 
font-weight: 300;
    color:#ffffff;
font-family: 'Acme', sans-serif;
}

.contenido-texto-card h1{
font-size:80px;
    color:#ffffff;
font-family: 'Acme', sans-serif;
}


/* Main */

vite {
    width: 100%;
    height: 400px;
    position: relative;
}

vite. vite 1 {
    padding: 80px 0;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

vite .texto-video{
   background: #000046;  
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
 

.texto-video h1{
    font-size: 55px;
    color:#20282e;  
   text-align: center;
font-family: 'Frank Ruhl Libre', serif;
}

.texto-video h2{
    font-size: 45px;
    font-weight: 300;
    color:#00fffb;
   text-align: center;
font-family: 'Frank Ruhl Libre', serif;
}

.texto-video h2-2{
    font-size: 25px;
    font-weight: 300;
    color:#00fffb;
   text-align: center;
font-family: 'Frank Ruhl Libre', serif;
}

.texto-video h3{
    font-size: 38px;
    font-weight: 300;
    color:#000000;
    text-align: center;
font-family: 'Playfair Display', serif;
}

.texto-video h3-2{
    font-size: 38px;
    font-weight: 300;
    color:#000000;
    text-align: center;
font-family: 'Playfair Display', serif;
}

.texto-video h4{
    font-size: 25px;
    font-weight: 300;
    color:#1c1c1c;
font-family: 'Playfair Display', serif;
}

.texto-video h5{
    font-size: 20px;
    font-weight: 225;
    color:#3b4445;
font-family: 'Acme', sans-serif;
}

.texto-video h6{
    font-size: 20px;
    font-weight: 225;
    color:#3b4445;
font-family: 'David Libre', serif;
}

.texto-video h7{
    font-size: 47px;
    font-weight: 225;
    color:#b57f00;
    text-align: center;
font-family: 'Fredoka One', cursive;
    text-align: left;
}

.texto-video h8{
    font-size: 33px;
    font-weight: 225;
    color:#00ddff;
font-family: 'Jomhuria', cursive;
}

.texto-video h9{
    font-size: 15px;
    font-weight: 225;
    color:#111414;
font-family: 'Hammersmith One', sans-serif;
}

.texto-video hT{
    font-size: 60px;
    font-weight: 225;
    color:#000000;
font-family: 'David Libre', serif;
}

.contenedor{
  margin:auto;
  padding: var(--margenes) 0;
  width: 90%;
  max-width: 1000px;
  text-align: center;
  overflow: hidden;
}

.contenedor h3{
  font-size: var(--titulos);
  color: rgb(219, 219, 219);
  margin-bottom: var(--espacios);
}

.contenedor p{
  font-size: var(--subtitulos);
  font-weight: 300;
  color: rgb(0, 255, 231);
}

.after::after{
  content:'';
  display: block;
  margin: auto;
  margin-top: var(--espacios);
  width: 100px;
  height: 2px;
  background: #ffffff;
  margin-bottom: var(--espacios-contenido);
}

.card{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.content-card{
  width: 31%;
  box-shadow: 0 0 6px 0 rgba(0,0,0,.5);
  overflow: hidden;
  height:400px;
}

.people{
  height: 80%;
}

.content-card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.texto-team{
  height: 20%;
  width: 100%;
  padding: var(--espacios) 0;
}

.about{
  background: url(img/sefer3.jpg);
  height: auto;
}

.servicios{
  display: flex;
  color:#fff;
  justify-content: space-between;
  margin: auto;
  flex-wrap: wrap;
}
.caja-servicios{
  width: 30%;
  margin: auto;
  text-align: center;
}
.caja-servicios>h4{
  margin-bottom: var(--espacios);
}

.caja-servicios>p{
  text-align: center;
}

.botones-work{
  overflow: hidden;
}

.botones-work li{
  display: inline-block;
  text-align: center;
  margin-left: var(--espacios);
  margin-bottom: var(--espacios-contenido);
  padding: 6px 12px;
  border: 1px solid var(--color1);
  list-style: none;
  color: var(--color1);
}

.botones-work li:hover{
  background: var(--color1);
  color:#fff;
  cursor: pointer;
}

.botones-work .active{
  background: var(--color1);
  color:#fff;
}

.galeria-work{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 30px;
  display:flex;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: space-evenly;
}

.cont-work{
width: 330px;
  box-shadow: 0 0 6px 0 rgba(0,0,0,.5);
  height:auto;
  overflow: hidden;
  margin-bottom: var(--espacios-contenido);
  display:flex;
  flex-wrap: wrap;
align: center;
  justify-content: center;
border-radius: 5px;
margin-left: 1.5px;
margin-right: 1.5px;
margin-top: 2px;
}


.img-work{
  height: 90%;
  width: 100%;
border-radius: 30px;
margin-top: 5px;
}

.img-work img{
  height: 100%;
  width: 100%;
  object-fit: cover;
border-radius: 20px;
}

.video-work{
width: 325px;
height: 185px;
border-radius: 35px;
margin-top: 5px;
}

.video-work video{
width: 325px;
height: 185px;
border-radius: 30px;
margin-top: 5px;
}

.video{
width: 325px;
height: 185px;
border-radius: 30px;
margin-top: 5px;
}

.iframe{
  height: 100%;
  width: 100%;
  margin-top: 2px;
border-radius: 30px;
}

.cont-work video{
width: 325px;
height: 185px;
border-radius: 15px;
margin-top: 5px;
}

.cont-work iframe{
  height: 100%;
  width: 100%;
  margin-top: 2px;
border-radius: 15px;
}

.textos-work{
  height: 10%;
  margin-bottom: 4%;
  margin-top: 2%;
  width: max-content;
}

.textos-work h4{
  line-height: 30px;
  font-weight: 300;
}



/* Breakpoints responsive */

@media screen and (max-width: 500px){

    .cards .card{
        width: 96%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

  .content-card{
    width: 55%;
  }

  .contenido-texto-card h1{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 70px;
    color:#ffffff;
    font-family: 'Acme', sans-serif;
}
}